@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora&family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

/* NavBar */

header {
  font-family: "Lora", sans-serif;
  background: #f8f8f8;
}

.nav-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1em;
}

.nav-link {
  display: flex;
  gap: 1em;
}

.title {
  font-size: 1.9rem;
  cursor: pointer;
  font-weight: 900;
}

.sub-title {
  font-size: 1.1rem;
  color: #1abaeb;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

ul li a:hover {
  color: #1abaeb;
}

.link-active {
  border-bottom: 1px solid #1abaeb;
}

.link-active:hover {
  border-bottom: 1px solid transparent;
}

/* Body Text */

.text-container {
  margin: 3em auto;
  margin-bottom: 1em;
  max-width: 1000px;
  width: 80%;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  word-spacing: 0px;
}

.text-container h1 {
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: 0.5em;
}

.text-container p {
  color: #5a5959;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Form */

.form-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

.form-text {
  width: 50%;
}

.form-img {
  width: 50%;
}

.form-img img {
  max-width: 100%;
  height: auto;
}

.btn-1 {
  background: #000;
  color: #fff;
  padding: 0.8em;
  border-radius: 0.5em;
  width: 50%;
  align-items: center;
  gap: 0.3em;
  text-align: center;
}

.btn-2 {
  border: 1px solid #000;
  background: transparent;
  font-weight: 800;
  padding: 0.5em;
  border-radius: 0.3em;
  width: 100%;
  align-items: center;
  gap: 0.3em;
  text-align: center;
  margin-top: 0.3em;
  font-size: 1rem;
}

.btn,
.btn-group-1 {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  cursor: pointer;
}

.btn-group-1 {
  gap: 1em;
  margin-bottom: 1em;
}

.btn p {
  font-size: 1rem;
}

form {
  margin-top: 2em;
  margin: auto;
  font-size: 1.3rem;
}

form div {
  margin-top: 1em;
}

input {
  display: block;
  width: 96%;
  padding: 0.4em;
  margin-top: 0.5em;
  border: 1px solid #c1bdbd;
  border-radius: 0.2em;
}

.submit-btn {
  margin-top: 1em;
  margin-left: auto;
  background: #000;
  color: #fff;
  padding: 0.4em 1.2em;
  font-size: 0.9rem;
  border-radius: 0.3em;
}

/* Footer */
footer {
  text-align: center;
  background: #faf7f7;
  padding: 2em;
}

@media (max-width: 660px) {
  .nav-container,
  .nav-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
  }
  .form-main-div {
    flex-direction: column;
    margin-top: 2em;
  }
  .form-img img {
    display: block;
    margin: auto;
    max-width: 80%;
    height: auto;
  }
  .btn {
    padding: 1em;
  }
}
